.hr-separator {
	border: none;
	height: 1px;
	background: linear-gradient(90deg,
			transparent 0%,
			rgba(200, 162, 122, 0.15) 18%,
			rgba(230, 190, 150, 0.75) 50%,
			rgba(200, 162, 122, 0.15) 82%,
			transparent 100%);
	box-shadow:
		0 0 6px rgba(230, 190, 150, 0.35),
		0 1px 0 rgba(0, 0, 0, 0.35);
}

.section-archive {

	.archive-box {
		&::after {
			@apply content-[''] absolute w-px h-full right-0 top-0;

			background: linear-gradient(
				to bottom,
				transparent 0%,
				rgba(230, 190, 150, 0.15) 20%,
				rgba(230, 190, 150, 0.9) 50%,
				rgba(230, 190, 150, 0.15) 80%,
				transparent 100%
			);

			box-shadow:
				0 0 1px rgba(230, 190, 150, 0.6),
				0 0 2px rgba(230, 190, 150, 0.25);
		}
	}

	.archive-box-last {
		&::after {
			@apply md:content-none md:w-0 md:h-0;
		}
	}

	.archive-list {
		@apply pl-4;

		li {
			@apply list-disc;
		}

		a {
			@apply inline-flex items-center text-link-special hover:text-link-special-hover underline-offset-2 hover:underline;
		}
	}
}

.home-heading {
	&::before,
	&::after {
		@apply content-[''] absolute top-1/2 w-4 md:w-72 h-px bg-linear-to-r from-transparent via-[#c8a97e] to-transparent;
	}
	&::before {
		@apply right-full mr-1;
	}
	&::after {
		@apply left-full ml-1;
	}
}

.vertical-text {
	writing-mode: vertical-rl;
}
